@model Literature.Models.Order

@{
  ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
  <h4>Order</h4>
  <hr />
  <dl class="dl-horizontal">
    <input type="hidden" asp-for="ID" />
    <dd>
      @Html.DisplayFor(model => model.Publisher)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Publisher.ToString())
    </dt>
    <dd>
      @Html.DisplayFor(model => model.OrderDate)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.OrderDate)
    </dt>
    <dd>
      <table class="table">
        <tr>
          <th>Publication</th>
          <th>Language</th>
          <th>Quantity</th>
        </tr>
        @foreach (var item in Model.OrderItems)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Publication.ToString())
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Publication.Language)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Quantity)
            </td>
          </tr>
        }
      </table>
    </dd>
  </dl>

  <form asp-action="Delete">
    <div class="form-actions no-color">
      <input type="submit" value="Delete" class="btn btn-default" /> |
      <a asp-action="Index">Back to List</a>
    </div>
  </form>
</div>