@model IEnumerable<Literature.Models.Order>

@{
  ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
  <a asp-action="Create">Create New</a>
</p>
<table class="table table-condensed" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.OrderDate)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Publisher.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.OrderPlaced)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.NumberOfItems)
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var order in Model)
    {
      <tr class="accordion-toggle" data-toggle="collapse" data-target="#AA_@(order.ID)">
        <td>
          @Html.DisplayFor(modelItem => order.OrderDate)
        </td>
        <td>
          @Html.DisplayFor(modelItem => order.Publisher.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => order.OrderPlaced)
        </td>
        <td>
          @Html.DisplayFor(modelItem => order.NumberOfItems)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@order.ID">Edit</a> |
          <a asp-action="Details" asp-route-id="@order.ID">Details</a> |
          <a asp-action="Delete" asp-route-id="@order.ID">Delete</a>
        </td>
      </tr>
      <tr>
        <td colspan="5" class="hiddenRow">
          <div class="accordion-body collapse" id="AA_@(order.ID)">
            @foreach (var item in order.OrderItems)
            {
              <dl class="dl-horizontal">
                <dt>
                  @Html.DisplayNameFor(modelItem => item.Publication.Title)
                </dt>
                <dd>
                  @Html.DisplayFor(modelItem => item.Publication.Title)
                </dd>
                <dt>
                  @Html.DisplayNameFor(modelItem => item.Publication.Language)
                </dt>
                <dd>
                  @Html.DisplayFor(modelItem => item.Publication.Language)
                </dd>
              </dl>
            }
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>